spring:
  datasource:
    url: jdbc:h2:mem:testdb
    driver-class-name: org.h2.Driver
    username: sa
    password:

  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true

  h2:
    console:
      enabled: true
      path: /h2

#springdoc:
#  api-docs:
#    path: /api-docs
#    enabled: true
#  swagger-ui:
#    path: /swagger-ui.html
#    enabled: true
#    display-request-duration: true
#    operations-sorter: alpha
#    tags-sorter: alpha
#    default-model-expand-depth: 2
#    doc-expansion: none
#
#  default-flat-param-object: false
#  writer-with-default-pretty-printer: true
#  model-and-view-allowed: false
#  use-fqn: false